<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="MiMVT/app_familia/template/plantila.css">
        <enlace rel="preconectar" href="https://fonts.googleapis.com">
            <enlace rel="preconectar" href="https://fonts.gstatic.com" crossorigin>
            <enlace href="https: //fonts.googleapis.com/css2? familia= Poppins:ital,peso@0,100;0,300;0,700;0,800;0,900;1,200;1,400;1,900 & display=swap" rel="stylesheet">
		<title>Base de datos Familia</title>
	</head>
	<body>
        <!--
            <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
                <div class="container">
                    <a class="" href=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Menú BD Familia</font></font></a>
                    <button class="btn" type="button" data-bs-toggle="app_familia.models" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Navegación de palanca"><span class="navbar-toggler-icon"></span></button>
                    <div class="navbar-collapse collapse" id="navbarSupportedContent" style="">
                        <ul class="navbar-nav mx-auto">
                            <li class=""><a class="" href="app_familia.models.Familia"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Familia</font></font></a></li>
                            <li class=""><a class="" href="app_familia.models.IngresoenSistema"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">IngresoenSistema</font></font></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header> -->
        <main>
            <h1 style="background-color: darksalmon;"> Nuestra Web - Django/Coder</h1>
        </main>
	</body>
</html>